body{
    margin: 0 0 0 0;
    background-color:#5F9E90;
}
#ccsl {
    margin: 0 0 0 0;
    background-image: url("ccsl.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
}
.trusted {
    background-color: green;
}
.ifrntv{
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.time{
    margin-top: 18%;
    margin-left: 89%;
    width: 9%;
    height: 13%;
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    position: absolute;
    border: 2px solid;
    border-radius: 25px;
    border-color: white;
    opacity: 0.5;
    font-family: 'Roboto', Sans-Serif;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-top: 1px;
    color: black;
}
.logo{
    float: right;
    width: 7%;
    height: 7%;
    margin-right: 3%;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("ifrn.png");
    padding-bottom: 12%;
    background-size: 100%;
    opacity: 0.8;
}
.user-info {
    margin: 151px 10px 10px 345px;
    position: absolute;
    z-index: 3;
    font-family: 'Roboto';
    font-size: 35pt;
    opacity: 0;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.user_author {
    margin: 91px 10px 10px 345px;
    position: absolute;
    z-index: 3;
    font-family: 'Roboto';
    font-size: 35pt;
    opacity: 0;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.user {
    position: absolute;
    z-index: 2;
    margin: 30px auto auto 40px;
    width: 20%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.text{
    position: absolute;
    z-index: 2;
    margin: 24% 10% 20% 10%;
    width: 80%;
    font-family: 'Roboto';
    font-size: 35pt;
    opacity: 0;
    color: #FFF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.image-notice-15{
    float: left;
    margin-left: 8%;
    margin-top: 8%;
}
.image-left-notice-15{
    width: 50%;
    height: 50%;
    background-image: url("4.png");
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute
}
.text-notice-15{
    float: right;
    width: 30%;
    height: 100%;
    font-size: 100%;
    margin-right: 12%;
    margin-top: 8%;
}
.text-notice-right-15{
    background-color: black;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    opacity: 0.8;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
}
.text-notice-15 .text-notice-right-15 .title-notice{
    font-size: 240%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
    padding-left: 1%;
    font-family: 'roboto', sans-serif;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.text-notice-15 .text-notice-right-15 .paragrafe-notice{
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
    opacity: 1;
    padding-left: 1%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.image-notice-16{
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}
.image-notice-16 .image-left-notice-16{
    width: 50%;
    height: 50%;
    background-image: url("4.png");
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute
}
.text-notice-16{
    float: left;
    width: 50%;
    margin-top: 35%;
    margin-left: 0%;
    color: white;
}
.text-notice-16 .text-notice-bottom-16 .title-notice{
    font-size: 200%;
}
.text-notice-16 .text-notice-bottom-16 .paragrafe-notice{
    font-size: 150%;
}
.image-notice-17{
    float: left;
    margin-left: 30%;
    margin-top: 5%;
}
.image-right-notice-17{
    width: 50%;
    height: 50%;
    background-image: url("4.png");
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute
}
.text-notice-17{
    float: left;
    margin-left: 20%;
    margin-top: 30%;
    width: 50%;
    color: white;
}
.text-notice-17 .text-notice-bottom-17 .title-notice{
    font-size: 200%;
}
.text-notice-17 .text-notice-bottom-17 .paragrafe-notice{
    font-size: 150%;
}
.qrcode-notice{
    margin-top: 0%;
    margin-left: 88%;
    padding-top: 30%;
    width: 12%;
    height: 12%;
    color: white;
}
.qrcode-notice .img{
    width: 10%;
    height: 20%;
    background-image: url('Qr.png');
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.hashtag {
    color: #800020;
}

.mention {
    color: #2b7bb9;
}

.url {
    color: #053D5C;
}

.trusted {
    background: #8bc34a;
}

.untrusted {
    background: #00BFFF;
}
.qrcode{
    width: 160px;
    height: 160px;
    top: 300px;
    left: 400px;
    position: absolute;
    display: none;
    opacity: 0;
}
